@using BollnasTrends.Core.Entities
@model List<PopulationStat>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bollnäs Trends</h1>
    <p>Data direkt från Azure SQL Database</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Region</th>
            <th>År</th>
            <th>Befolkning</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Region</td>
                <td>@item.Year</td>
                <td>@item.Population</td>
            </tr>
        }
        </tbody>
    </table>
</div>